<footer class="page-footer">
  <hr class="gold-line" />
  <div class="footer-inner">
    <span class="footer-brand">Just Tap</span>
    {{#if packageName}}<span class="footer-package">{{packageName}}</span>{{/if}}
    <span class="footer-template">{{templateName}}</span>
  </div>
</footer>
